version: "3.9"

services:
  backend:
    build: ./backend
    container_name: django_backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: react_frontend
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true

  db:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_DB: pulsenet
      POSTGRES_USER: ${db_user}
      POSTGRES_PASSWORD: ${db_password}
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${db_email}
      PGADMIN_DEFAULT_PASSWORD: ${db_password}
    ports:
      - "5050:80"
    depends_on:
      - db