body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --color-primary: #00b8d9;
  --color-accent: #009ab8;
  --color-secondary: #c99ed9;
  --color-tertiary: #b08ac4;
  --color-bg: #eaeef2;
  --color-text: #2f3542;
  --color-muted: #dfe4ea;
}